body{
    background-color: rgb(255, 229, 196);
    
}
h1{
    text-align: center;
}
p{
    color: white;

}
.bioBox{
   padding: 60px;
   background-color: rgb(59, 52, 45);
    border: 10px;
}
.bioText{
    
}
